<!DOCTYPE html>
<html lang="en">

<head>
  <title>Title</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/style.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  
  
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mainNav">
    <a class="navbar-brand" href="#!">KEWL LOGO</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#!">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="nav-item">
      
      {{!-- this has to be the name of the item within the object --}}
      {{#if userObj}}
        <p>Welcome! </p>{{name}}
        <a href='/logout'>Log Out?</a>
      {{else}}  
        <a href='/login'>Log In!</a>
      {{/if}}
      
    </div>
    <div class="dropdown open">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="optionList" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Options
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#!">Separated link</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#!">Action</a>
        {{#if userObj}}
        {{#if userObj.hasAdmin}}
        <a class="dropdown-item" href="/admin">Admin Page</a>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </nav>
  {{{ body }}}
  
  

<script src="/js/vinJs.js"></script>
</body>

</html>