<h1>Admin Page</h1>

<div class="container">

  <div class="row">

    <div class="col-md-4" id="articles"></div>
    <div class="col-md-4" id="users"></div>
    <div class="col-md-4" id="posts"></div>

  </div>

</div>