 <div class="container">
    <div class="row">
      <div class="col-7" id="mainContArea">
        <p>HandleBars Example |        
            {{happyMonkeys}}
       | End Example</p>
      </div>
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for="exampleTextarea">Post A Comment</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <button type="submit" aria-label="this is a test button">Submit</button>
        </form>
        <p>comment section where all of our guests important comments live</p>
        <div class="col-12" id="commentSection">
          <p>Here is an example comment.</p>
        </div>
      </div>
    </div>


  </div>

