 <div class="container">
    <div class="row">
      <div class="col-7" id="mainContArea">
        <p>this is the esection for the articles and our main content while we have nothing enjoy this breif pray of letters
          : ewjweewhgd qeudqew uibewuhdbqwd qedqwbeu dhewbdewquhdb qwdbqwdhqwg don en fewneubeou ohebf ewbwekbw hwc ewbco
          ew fjbewoegoeujcbweocbececoeycerh bceuhcbeohc beo bce beuhc be
        </p>
      </div>
      <div class="col-4">
        <form>
          <div class="form-group">
            <label for="exampleTextarea">Post A Comment</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
          </div>
          <button type="submit" aria-label="this is a test button">Submit</button>
        </form>
        <p>comment section where all the aids lives and dies</p>
        <div class="col-12" id="commentSection">
          <p> this is somethign that would be an example comment!</p>
        </div>

      </div>
    </div>


  </div>

